---
- name: Deploy web application
  hosts: web
  gather_facts: true
  become: true


  tasks:
    - name: Install Nginx on Linux RedHat Family
      package: 
        name: nginx
        state: "{{ state }}"
      when: ansible_facts["os_family"] == "RedHat"
      
    - name: Install Nginx on Linux Debian Family
      package: 
        name: nginx
        state: "{{ state }}"
      when: ansible_facts["os_family"] == "Debian"


    - name: Nginx Started and Enabled
      service:
        name: nginx
        state: started
        enabled: true
    
    - name: Listing /
      run: |
        ls -ltar /
        echo "-----------------"
        ls -ltar

    - name: Template to copy index file
      template:
        src: "{{ index_file_src }}"
        dest: "{{ index_file_dest }}"

    - name: Create a repository for assets
      file: 
        path: "{{ nginx_artifacts_dest}}"
        state: directory

    - name: copy app.js into 
      copy:
        src: "{{ nginx_artifacts_app }}"  
        dest: "{{ nginx_artifacts_dest }}"

    - name: copy nginx-artifacts
      copy:
        src: "{{ nginx_artifacts_styles_css}}"  
        dest: "{{ nginx_artifacts_dest }}"