---
- name: Deploy web application
  hosts: web
  gather_facts: true
  become: true


  tasks:
    - name: Install Nginx on Linux RedHat Family
      package: 
        name: nginx
        state: present
      when: ansible_facts["os_family"] == "RedHat"
      
    - name: Install Nginx on Linux Debian Family
      package: 
        name: nginx
        state: present
      when: ansible_facts["os_family"] == "Debian"


    - name: Nginx Started and Enabled
      service:
        name: nginx
        state: started
        enabled: true

    
