---
name: working on ansible
on:
  workflow_dispatch: {}
  push:
    branches:
      - dev
      - main
      - feat-dev
jobs:
  first-task:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses:  actions/checkout@v4
      
      - name: list
        run: ls -ltar

      - name: pem file
        run: |
          echo "${{ secrets.KEY_NAME }}" > key.pem
          chmod 400 key.pem

      - name: Run playbook
        env:
          ANSIBLE_HOST_KEY_CHECKING: "False"
        run: |
          ansible-playbook -i inventory/inventory.ini playbook/web-playbook.yml -vvvv
